.notification {
    position: absolute;
    top: 84px;
    right: 20px;
    width: 400px;
    padding: 10px 20px;
    background-color: #9e9e9e;
    color: white;
    border: 1px solid #222;
    z-index: 999;

    &.success {
        background-color: #4caf50;
    }
    &.warning {
        background-color: #ff9800;
    }

    &.error {
        background-color: #f44336;
    }

    &.info {
        background-color: #2196f3;
    }
}
