@use '../../../assets//variables.scss';
.note {
    width: 400px;
    height: 400px;
    position: absolute;
    border-radius: 5px 5px 10px 10px;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0 0 12px #301e42;

    .panel {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        background-color: variables.$primary;
        cursor: grab;
    }

    textarea {
        display: block;
        width: 100%;
        height: calc(100% - 34px);
        resize: none;
        padding: 20px;
        border: 2px solid rgba(70, 74, 84, 0.34);
        border-top: none;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: #1b1d1d82;
        backdrop-filter: blur(10px);

        &:focus {
            outline: none;
        }
    }

    .resize-button {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 20px;
        height: 20px;
        cursor: nwse-resize;
    }
}
