.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    h1 {
        position: relative;
        span {
            position: absolute;
            top: -36px;
            right: 24px;
        }
    }
}
